Adafruit-Blinka==8.19.0
adafruit-circuitpython-bno055==5.4.9
adafruit-circuitpython-busdevice==5.2.4
adafruit-circuitpython-register==1.9.15
adafruit-circuitpython-requests==1.13.2
adafruit-circuitpython-typing==1.9.2
Adafruit-PlatformDetect==3.45.1
Adafruit-PureIO==1.1.10
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2022.12.7
charset-normalizer==3.1.0
frozenlist==1.3.3
hcsr04sensor==1.6.3
hx711==1.1.2.3
idna==3.4
multidict==6.0.4
openai==0.27.6
pigpio==1.78
pydub==0.25.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
requests==2.29.0
RPi.GPIO==0.7.1
SpeechRecognition==3.10.0
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
yarl==1.9.2
