aiodns==3.0.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
aleph-alpha-client==2.16.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argilla==1.6.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==21.2.0
audioread==3.0.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
beniget==0.4.1
bleach==6.0.0
blinker==1.4
boto3==1.26.91
botocore==1.29.91
Brotli==1.0.9
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.1
coloredlogs==15.0.1
comm==0.1.2
command-not-found==0.3
commonmark==0.9.1
cryptography==39.0.2
cycler==0.11.0
dataclasses-json==0.5.7
dbus-python==1.2.18
debugpy==1.6.6
decorator==4.4.2
deeplake==3.2.15
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
distro==1.7.0
distro-info===1.1build1
dnspython==2.3.0
effdet==0.3.0
email-validator==1.3.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.91.0
fastjsonschema==2.16.3
ffmpeg-python==0.2.0
filelock==3.9.1
Flask==2.2.3
Flask-Cors==3.0.10
flatbuffers==23.3.3
fonttools==4.29.1
fqdn==1.5.1
frozenlist==1.3.3
fs==2.4.12
future==0.18.3
gast==0.5.2
google-api-core==2.11.0
google-api-python-client==2.81.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-search-results==2.4.2
googleapis-common-protos==1.58.0
googlemaps==4.10.0
# Editable install with no version control (gpt-index==0.4.40)
-e /home/echo_name/llama_index_playground/llama_index
greenlet==2.0.1
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.20.2
httpx==0.23.3
hub==3.0.1
huggingface-hub==0.13.2
humanfriendly==10.0
humbug==0.2.8
idna==3.4
importlib-metadata==4.6.4
iopath==0.1.10
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.4.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
keyring==23.5.0
kiwisolver==1.3.2
langchain==0.0.121
langchain-ibis==0.0.100
langflow==0.0.31
launchpadlib==1.10.16
layoutparser==0.3.4
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
librosa==0.8.1
lit==16.0.0
llvmlite==0.39.1
lxml==4.8.0
lz4==3.1.3+dfsg
Markdown==3.4.1
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==2.0.5
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
names==0.3.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netifaces==0.11.0
nltk==3.8.1
notebook==6.5.3
notebook_shim==0.2.2
numba==0.56.4
numcodecs==0.11.0
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.14.1
openai==0.27.2
openai-whisper @ git+https://github.com/openai/whisper.git@b5851c6c40e753606765ac45b85b298e3ae9e00d
opencv-python==4.6.0.66
openpyxl==3.1.2
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathos==0.3.0
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.1.1
playwright==1.31.1
ply==3.11
pooch==1.7.0
portalocker==2.7.0
pox==0.3.2
ppft==1.7.6.6
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycares==4.3.0
pycocotools==2.0.6
pycparser==2.21
pydantic==1.10.6
pydub==0.25.1
pyee==9.0.4
Pygments==2.14.0
PyGObject==3.42.1
PyJWT==2.3.0
pypandoc==1.11
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.19.3
pytesseract==0.3.10
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-docx==0.8.11
python-frontmatter==1.0.0
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
pythran==0.10.0
pytz==2022.1
PyYAML==6.0
pyzmq==25.0.0
regex==2022.10.31
requests==2.28.2
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.0.1
rsa==4.9
s3transfer==0.6.0
scikit-learn==1.2.2
scipy==1.8.0
SecretStorage==3.3.1
Send2Trash==1.8.0
sentencepiece==0.1.98
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.3.1
SpeechRecognition==3.9.0
SQLAlchemy==1.4.46
stack-data==0.6.2
starlette==0.24.0
sympy==1.9
systemd-python==234
tenacity==8.2.2
terminado==0.17.1
threadpoolctl==3.1.0
tiktoken==0.3.1
timm==0.6.12
tinycss2==1.2.1
tokenizers==0.13.2
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.26.1
triton==2.0.0
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unstructured==0.5.4
unstructured-inference==0.2.11
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.15
uvicorn==0.20.0
wadllib==1.3.6
Wand==0.6.11
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
wrapt==1.14.1
XlsxWriter==3.0.9
yarl==1.8.2
zipp==1.0.0
